numpy
pandas
scikit-learn
matplotlib
pyyaml
openpyxl
plotly
xgboost
optuna
optuna_integration
TA-Lib
torch
pytorch-forecasting
pytorch-lightning
seaborn
tensorboard
torch_optimizer
imbalanced-learn
smogn
pyarrow